{% extends 'base.html' %}

{% load static %}

{% block content %}

<body>

    <!------------------------------------------------------------------------------------------>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 col-xs-6">
            <div class="product">
                <div class="product-img">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{{ product.thumbnail.url }}" style="height: 200px" alt="{{ product.name }}">
                    </a>
                    <div class="product-label">
                        {% if product.on_sale %}
                        <span class="sale">-{{ product.discount_percentage }}%</span>
                        {% endif %}
                        {% if product.is_new %}
                        <span class="new">NEW</span>
                        {% endif %}
                    </div>
                </div>
                <div class="product-body">
                    <p class="product-category">{{ product.category }}</p>
                    <h3 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                    <h4 class="product-price">{{ product.price }}F <del class="product-old-price">{{ product.old_price }}F</del></h4>
                    <div class="product-rating">
                        {% for _ in product.rating_range %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                    </div>
                    <div class="product-btns">
                        <a href="{% url 'add-to-souhaits' product.slug %}"><button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                    class="tooltipp">Ajouter aux souhaits</span></button></a>
                        <a href="{% url 'product-detail' product.slug %}"><button class="quick-view"><i
                                    class="fa fa-eye"></i><span class="tooltipp">Voir les détails</span></button></a>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i><a
                                href="{% url 'add-to-cart' product.slug %}"> ajouter au panier</a></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   

</body>
{% endblock %}